<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.crecode.blog.dao.IndexMapper" >
  <resultMap id="BaseResultMap" type="cn.crecode.blog.pojo.Index" >
    <id column="int_index_id" property="intIndexId" jdbcType="INTEGER" />
    <result column="str_name" property="strName" jdbcType="VARCHAR" />
    <result column="str_type" property="strType" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="cn.crecode.blog.pojo.Index" extends="BaseResultMap" >
    <result column="str_content" property="strContent" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    int_index_id, str_name, str_type
  </sql>
  <sql id="Blob_Column_List" >
    str_content
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_cre_index
    where int_index_id = #{intIndexId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_cre_index
    where int_index_id = #{intIndexId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.crecode.blog.pojo.Index" >
    insert into t_cre_index (int_index_id, str_name, str_type, 
      str_content)
    values (#{intIndexId,jdbcType=INTEGER}, #{strName,jdbcType=VARCHAR}, #{strType,jdbcType=VARCHAR}, 
      #{strContent,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.crecode.blog.pojo.Index" >
    insert into t_cre_index
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="intIndexId != null" >
        int_index_id,
      </if>
      <if test="strName != null" >
        str_name,
      </if>
      <if test="strType != null" >
        str_type,
      </if>
      <if test="strContent != null" >
        str_content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="intIndexId != null" >
        #{intIndexId,jdbcType=INTEGER},
      </if>
      <if test="strName != null" >
        #{strName,jdbcType=VARCHAR},
      </if>
      <if test="strType != null" >
        #{strType,jdbcType=VARCHAR},
      </if>
      <if test="strContent != null" >
        #{strContent,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.crecode.blog.pojo.Index" >
    update t_cre_index
    <set >
      <if test="strName != null" >
        str_name = #{strName,jdbcType=VARCHAR},
      </if>
      <if test="strType != null" >
        str_type = #{strType,jdbcType=VARCHAR},
      </if>
      <if test="strContent != null" >
        str_content = #{strContent,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where int_index_id = #{intIndexId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="cn.crecode.blog.pojo.Index" >
    update t_cre_index
    set str_name = #{strName,jdbcType=VARCHAR},
      str_type = #{strType,jdbcType=VARCHAR},
      str_content = #{strContent,jdbcType=LONGVARCHAR}
    where int_index_id = #{intIndexId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.crecode.blog.pojo.Index" >
    update t_cre_index
    set str_name = #{strName,jdbcType=VARCHAR},
      str_type = #{strType,jdbcType=VARCHAR}
    where int_index_id = #{intIndexId,jdbcType=INTEGER}
  </update>
</mapper>